/********************************************************** HOME SECTION STYLING ****************************************************/


.home .max-width{
    margin: auto 0 auto 30px;
}
.home .home-content .text-1{
    font-size: 190%;
    filter: grayscale(30%);
}
.home .home-content .text-2{
    font-size: 275%;
    font-weight: 600;
    margin-left: 15px;
    filter: grayscale(30%);
}
.home .home-content .text-1, .home .home-content .text-2{
    display: block;
    width: fit-content;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}

.home .home-content .text-1 {
    animation-delay: 1s;
}
.home .home-content .text-2 {
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 2.5s;
    
}

.home .home-content .text-1 span, .home .home-content .text-2 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #b30000;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
    border-radius: 20%;
}
.home .home-content .text-1  span {
    animation-delay: .5s;
}
.home .home-content .text-2 span {
    animation-delay: 1.5s;
}

.home .home-content a{
    display: inline-block;
    background: #b30000;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #b30000;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: #b30000;
    background: none;
}