.teams .title::after{
    content: "who with me";
}
.teams .carousel .carde{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.teams .carousel .carde:hover{
    background: #b30000;
    cursor: crosshair;  
}
.teams .carousel .carde:hover .text{
    color:black;
}
.teams .carousel .carde .boxe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.teams .carousel .carde:hover .boxe{
    transform: scale(1.05);
}
.teams .carousel .carde .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    color:#b30000;
}
.teams .carousel .carde p{
    color:white;
    width: 110%;
    text-align: left;
    text-indent: 20px; 
    margin-left: -15px;
}
.teams .carousel .carde img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #b30000;
    transition: all 0.3s ease;
}
.teams .carousel .carde:hover img{
    border-color: #fff;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 35px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 14px;
    border: 2px solid #b30000!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 13px;
    border-radius: 50%;
}
.owl-dot.active,
.owl-dot:hover{
    background: #b30000!important;
}
